# Secrets
.env
.env.local
*.pem
*.key
*.p12
*.pfx

# .NET
bin/
obj/
*.user

# Node
node_modules/
dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars.backup
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE
.idea/
.vscode/
*.suo
*.swp
.DS_Store
